:root {
  /* Colors */
  --white-color: #ffffff;
  --black-color: #29180f;
  --primary-color: #bf8b70;
  --secondary-color: #f0dacd;
  --third-color: #89d3d2;
  --fourth-color: #e1ede9;
  --border-color: #e1ede9;

  /* Font Sizes */
  --font-size-small: 14px;
  --font-size-regular: 16px;
  --font-size-medium: 18px;
  --font-size-large: 22px;
  --font-size-xlarge: 40px;
  --font-size-xxlarge: 48px;

  /* Font Family */
  --font-family-sans: "Roboto Serif", serif;
}

body,
* {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-medium);
  color: var(--black-color);
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.heroContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Offers */

.offers {
  background-color: var(--primary-color);
  width: 100vw;
}

#offersCard {
  background-color: var(--primary-color);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#offersChild {
  font-size: var(--font-size-small);
}

/* navbar */

.navbar {
  background-color: var(--white-color);
  width: 100vw;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  /* background-color: #89D3D2; */
  padding-left: 20px;
  padding-right: 20px;
  padding: 20px;
}

.logo {
  background-color: var(-- third-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  /* background-color: #BF8B70; */
  position: relative;
}

.logoText {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: var(--font-size-medium);
  font-weight: 600;
  font-style: italic;
  position: absolute;
  left: 35px;
}

.button {
  /* background-color: var(--primary-color); */
}

.button > button {
  color: var(--white-color);
  background-color: var(--third-color);
  border: none;
  height: 36px;
  width: 130px;
  padding: 3px;
  font-size: var(--font-size-small);
  cursor: pointer;
  border-radius: 30px;
}

/* Navlinks */
.navlinks {
  display: flex;
  gap: 15px;
  padding: 10px;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.nav-item {
  text-decoration: none;
  color: black;
  font-weight: lighter;
  font-size: var(--font-size-regular);
}

.nav-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  font-size: var(--font-size-small);
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.nav-dropdown:hover .dropdown-content {
  display: block;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.nav-icons img {
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  gap: 14px;
  cursor: pointer;
}

/* hero */
.hero {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/hero.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.heroTexts {
  /* background-color: var(--fourth-color); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  width: 70%;
  margin: auto 15%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  position: relative;
}

.heroTexts > :first-child {
  background-color: var(--white-color);
  color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 40%;
  border-bottom: 5px solid rebeccapurple;
  border-left: 4px solid rebeccapurple;
  border-right: 5px solid;
  border-color: var(--secondary-color);
  font-size: var(--font-size-medium);
}

.heroTexts > :last-child {
  color: var(--white-color);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: var(--primary-color);
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 70px;
  border-bottom: 5px solid rebeccapurple;
  border-left: 4px solid rebeccapurple;
  border-right: 5px solid;
  border-color: var(--secondary-color);
  font-size: var(--font-size-medium);
}

.collections {
  /* background-color: blue; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 70px;
  justify-content: space-between;
  padding: 0px 70px;
}
.collectionsHeading {
  /* background-color: #bf8b70; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.collectionsHeading > h1 {
  /* background-color: pink; */
  font-size: var(--font-size-xlarge);
}
.collectionsHeading > p {
  /* background-color: rgb(73, 16, 25); */
  font-size: var(--font-size-medium);
}
/* collectionsCardContainer  */
.collectionsCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 70px;
}

/* Card Styles */
.collectionCard {
  background: #fff;
  border-radius: 34px;
  padding: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 427;
  height: 522px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-color: var(--border-color);
  border-width: 3px;
}

.collectionCardImage {
  width: 100%;
  height: 100%;
  border-top-right-radius: 34px;
  border-top-left-radius: 34px;
}

.collectionCardContent {
  padding: 15px;
}

.collectionCardTitle {
  font-size: 1.2em;
  margin: 10px 0;
}

.collectionCardDescription {
  font-size: 0.9em;
  color: #666;
}

/* springOffer */
.springOffer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-color: var(--black-color);
  border: 4px solid;
  border-radius: 50px;
  padding: 0px 10px;
  margin: 0 auto;
  align-items: center;
  position: relative;
}

.springOffer > h2{
  font-size: var(--font-size-xlarge);
  font-style: italic;
  position: relative;
  left: -32px;
}
